export ENVIRONMENT=development
export FRONTEND_PORT=3000
# Backend port
export PORT=9000

# Ask around the team for these 2 values. Alternatively, if you have access to Discourse Admin,
# the sso secret can be found or defined in
# Admin > Settings > Login, and look for `sso provider secrets` field, and copy the secret value for `localhost`
# The API_KEY can be generated in Admin > API (https://online-group-dev.naistenlinja.fi/admin/api/keys)
# The API_USER can be "system".
export DISCOURSE_URL=
export DISCOURSE_SSO_SECRET=
export DISCOURSE_API_KEY=
export DISCOURSE_API_USER=

# Redis as session store.
# This REDIS_PORT is ONLY USED IN DEV by the start-dev-redis script to start the container in correct port
export REDIS_PORT=6379
# URL to use for connecting to Redis. This one is needed for production too.
export REDIS_URL="redis://localhost:$REDIS_PORT"

# Set these variables if you are planning to test sending real emails
export SENDGRID_API_KEY=
export SENDGRID_FROM_EMAIL_ADDRESS=
export SENDGRID_BOOKING_TEMPLATE_ID=

# The hour when booking reminder emails will be sent to volunteers
# In development you can set this to "* *" to make the emails run every minute, but then you should also
# remove the SENDGRID api credentials then to not use all of the quota!!
# Unset/comment the environment variable to disable the reminders.
# In production this should be a single number to avoid sending same email multiple times a day.
export BOOKING_REMINDER_SENDING_HOUR=9

# The list of allowed CORS origins requests to the backend API.
# If more than one origins are allowed, they can can separated by a "," - without any space in between.
# For example: http://domain1.com,http://domain2.com
# Currently, this is only needed for sending and reading online letters - due to the requests coming from
# the public website, which uses a different domain. This variable is set in case you'd like to test the
# public website locally - which will use port 8000 by default.
export ALLOWED_ORIGINS=http://localhost:8000

export DB_USERNAME=nl_dev
export DB_PASSWORD=nl_dev
export DB_NAME=nl_dev
export DB_PORT=5433
export DB_HOST=localhost

export COOKIE_SECRET="1Kk9t6sICZxqIBdqSrvsk1SHJHQKJaqH^B&Eu1ebc%QwCQyDguW@9*&X1T5GyAHK"
export JWT_SECRET="M61p@@Okk#RIAPdczSEe3WhVmhtK4MlnlgbRW5AUgPAQcl6%9BSvIYkat1EqvlG8"

# Hex value of letter access key salt. This is used to hash the online letter's access key
export LETTER_ACCESS_KEY_SALT=d35d86248800d53ac5086eb9010f4b830de271acd06235a4a4e52de0ee6afdd6

# Hex value of the aes key used for encrypting and decrypting letter's title, content and its reply
export LETTER_AES_KEY=3e8e98013458a51879e6db9956001a47e2533c065b85fed1d5a80e79b83171de

# Inlucde node_modules binaries into the shell environment
export PATH=$PATH:$(pwd)/node_modules/.bin

# These variables are only required in production:

# export APP_DOMAIN=
