export ENVIRONMENT=development
export PORT=3000

# Ask around the team for these 2 values. Alternatively, if you have access to Discourse Admin,
# the sso secret can be found or defined in
# Admin > Settings > Login, and look for `sso provider secrets` field
export DISCOURSE_URL=
export DISCOURSE_SSO_SECRET=

# BACKEND_URL is needed to construct api calls from frontend,
# This is also used to construct redirection url in backend during Discourse SSO login
export BACKEND_URL=http://localhost:3000
# Needed for backend to redirect user back to the frontend site after SSO authentication redirection from Discourse.
export FRONTEND_URL=http://localhost:8000

export DB_USERNAME=naistenlinja_dev
export DB_PASSWORD=naistenlinja_dev
export DB_NAME=naistenlinja_dev
export DB_PORT=5433
export DB_HOST=localhost

export COOKIE_SECRET="1Kk9t6sICZxqIBdqSrvsk1SHJHQKJaqH^B&Eu1ebc%QwCQyDguW@9*&X1T5GyAHK"
export JWT_SECRET="M61p@@Okk#RIAPdczSEe3WhVmhtK4MlnlgbRW5AUgPAQcl6%9BSvIYkat1EqvlG8"
export LETTER_ACCESS_KEY_SALT=d35d86248800d53ac5086eb9010f4b830de271acd06235a4a4e52de0ee6afdd6

# We'll need this separate set of variables because
# Create React App only exposes env variables with prefix `REACT_APP_` into process.env
export REACT_APP_DISCOURSE_URL=${DISCOURSE_URL}
export REACT_APP_BACKEND_URL=${BACKEND_URL}
