export ENVIRONMENT=development
export DISCOURSE_URL=# ask around the team for this value
export DISCOURSE_SSO_SECRET=# ask around the team for this value
export BACKEND_URL=http://localhost:3000
export COOKIE_SECRET=restlessseaflower
